In [46]:
import pandas as pd
from datetime import timedelta

In [6]:
df = pd.read_csv("../../data/all_with_dates-formatted.csv", encoding='latin-1').drop(["Unnamed: 0","Unnamed: 0.1"], axis=1)

(483922, 7)

In [12]:
states = pd.DataFrame({'counts' : df[df.country == "United States"].groupby( [ "state"] ).size()}).reset_index().state

In [60]:
counts=0
_states = []
for state in states:
    gp = pd.DataFrame({'counts' : df[df.state == state].groupby( [ "just_date"] ).size()}).reset_index().sort_values(["counts"])
    if gp[gp.counts > 100].shape[0] >= 22:
        _states.append(state)
        counts=counts+1
print counts

25

In [30]:
df["just_date"] = pd.to_datetime(df['created_at']).dt.date

In [75]:
worry=98
s = ""
for date in range(0,23):
    s = str(pd.to_datetime("2018-05-14") + timedelta(days=date)) + ","
    for state in _states:
        _all = df[df.state == state][pd.to_datetime(df.just_date) == pd.to_datetime("2018-05-14") + timedelta(days=date)]
        _worried = _all[df.worry==worry]
        s = s + str(float((_worried.shape[0]*100))/_all.shape[0]) + ","
    print s

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys

2018-05-14 00:00:00,14.5631067961,17.4603174603,16.1270983213,19.0476190476,11.9658119658,20.2749140893,21.5240641711,14.0969162996,17.1662125341,28.0701754386,20.3488372093,13.6,11.5740740741,16.6666666667,19.696969697,15.89958159,15.3846153846,14.1732283465,16.0,19.1256830601,21.3333333333,18.8948306595,21.3740458015,19.209039548,10.4347826087,
2018-05-15 00:00:00,31.7829457364,19.1176470588,14.849187935,18.8940092166,19.7368421053,15.2755905512,15.9537572254,9.62199312715,13.9380530973,15.4411764706,10.0961538462,17.2955974843,20.0,14.1630901288,15.6549520767,18.3449651047,20.6896551724,21.8120805369,18.5950413223,17.9906542056,15.0943396226,19.3758127438,21.2903225806,17.0731707317,16.2162162162,
2018-05-16 00:00:00,56.0693641618,52.9262086514,51.4197742046,52.8925619835,46.7032967033,49.9420625724,55.1330798479,47.3799126638,52.4517087667,54.4973544974,56.880733945,53.1400966184,56.1445783133,51.7786561265,54.114713217,48.4912877178,54.3624161074,48.5365853659,62.7848101266,58.9310829817,55.9523809524,53.5569105691,56.3758389262,50.7788161994,55.5555555556,
2018-05-17 00:00:00,44.2424242424,44.2307692308,43.6261843239,37.7659574468,41.935483871,39.1812865497,42.7927927928,39.8351648352,34.4671201814,45.9854014599,41.2037037037,37.7840909091,49.0322580645,31.6582914573,43.0921052632,38.2165605096,42.7966101695,44.7222222222,45.247148289,43.9688715953,44.4444444444,39.8936170213,45.3367875648,40.830449827,44.4444444444,
2018-05-18 00:00:00,49.4791666667,19.2170818505,26.0869565217,21.198156682,40.7407407407,26.8729641694,24.0038872692,22.4358974359,25.1908396947,25.78125,24.0458015267,27.2151898734,26.5917602996,19.5744680851,28.164556962,24.0089335567,21.8009478673,25.9818731118,24.1877256318,25.2302025783,23.595505618,19.0529875986,23.3236151603,25.5474452555,28.5714285714,
2018-05-19 00:00:00,23.9795918367,9.42184154176,10.0597296448,12.6213592233,15.4929577465,7.79944289694,9.06976744186,10.5381165919,8.28488372093,5.69948186528,8.95953757225,9.75143403442,6.95652173913,5.99369085174,10.0446428571,8.07730426165,5.91715976331,8.13308687616,6.88073394495,14.5945945946,9.38628158845,6.99417152373,8.0223880597,6.83371298405,5.97014925373,
2018-05-20 00:00:00,44.2708333333,35.4166666667,38.9486260454,40.6542056075,31.797235023,41.0981697171,38.8172858226,39.3700787402,37.5221238938,35.1063829787,28.5714285714,40.6315789474,34.5498783455,30.3418803419,41.3157894737,39.7671568627,39.0572390572,40.7158836689,38.9189189189,38.5401459854,33.9622641509,30.8704453441,43.4272300469,38.3647798742,30.7262569832,
2018-05-21 00:00:00,53.9877300613,54.5454545455,51.5114873035,51.376146789,55.614973262,55.2341597796,56.5573770492,53.4818941504,54.9393414211,50.3225806452,45.3125,51.3715710723,57.0024570025,53.6036036036,56.4971751412,50.04995005,60.2510460251,53.125,62.0795107034,54.5620437956,57.0135746606,42.9584599797,56.064690027,55.0819672131,61.7647058824,
2018-05-22 00:00:00,32.3529411765,29.0625,29.2046936115,28.7735849057,36.0,25.1445086705,35.1983723296,29.7450424929,24.2537313433,22.131147541,26.5765765766,27.5779376499,25.2559726962,31.7991631799,28.990228013,28.0878859857,32.9411764706,28.1167108753,29.304029304,27.9026217228,22.3350253807,25.3583241455,30.7471264368,26.0869565217,30.8988764045,
2018-05-23 00:00:00,37.7192982456,38.062283737,36.7374005305,36.6279069767,37.8531073446,32.9561527581,38.2056451613,42.0253164557,36.7983367983,31.1594202899,48.8479262673,34.5646437995,36.0153256705,38.1188118812,35.6209150327,44.0196078431,35.0230414747,38.2789317507,39.4904458599,29.5238095238,38.1909547739,32.9473684211,33.7175792507,37.2180451128,40.0,
2018-05-24 00:00:00,36.9318181818,43.935309973,36.9925300422,36.1344537815,29.3103448276,34.2756183746,36.505032022,33.4152334152,41.1764705882,36.9230769231,40.293040293,32.6576576577,42.9378531073,42.0091324201,33.0508474576,37.4945438673,43.2343234323,40.3083700441,44.6115288221,39.0769230769,38.3064516129,34.9869451697,37.0023419204,41.6909620991,44.0677966102,
2018-05-25 00:00:00,35.401459854,45.1303155007,31.8144566465,34.7916666667,35.4632587859,29.5725297828,41.5437987858,38.7856257745,36.442687747,34.1954022989,38.0032206119,28.6924939467,36.5411436541,31.5602836879,35.650887574,29.7769893563,40.2730375427,37.2202591284,31.234256927,36.2770562771,36.4562118126,33.423059668,36.5291262136,29.1215403129,38.4428223844,
2018-05-26 00:00:00,18.3976261128,9.96131528046,10.8189537113,11.5843270869,13.164556962,12.5366568915,10.708560436,10.9540636042,11.250873515,9.82800982801,11.1773472429,12.3212321232,8.82658359294,12.6637554585,11.3250283126,13.5875127943,10.5189340813,10.9433962264,10.7723577236,11.3764044944,11.84,10.5307145842,9.90899898888,9.59051724138,8.17843866171,
2018-05-27 00:00:00,36.8055555556,33.5260115607,29.1036088475,31.9047619048,24.8648648649,34.0148698885,30.7568438003,23.4042553191,29.3135435993,25.9036144578,30.1255230126,35.261707989,34.2105263158,30.1158301158,35.8974358974,28.5002767017,30.487804878,30.4347826087,34.1935483871,30.890052356,28.2296650718,24.12109375,32.9545454545,31.7406143345,30.7228915663,
2018-05-28 00:00:00,40.0,29.8642533937,32.5766871166,36.4341085271,37.3983739837,32.8976034858,42.1787709497,36.3228699552,32.625994695,31.0924369748,31.5476190476,29.0983606557,41.1764705882,37.0967741935,33.0049261084,33.234859675,40.9638554217,29.4372294372,33.023255814,41.416893733,27.9411764706,25.5442670537,35.0597609562,35.8585858586,42.7184466019,
2018-05-29 00:00:00,39.880952381,32.6283987915,32.138284251,32.3651452282,27.9569892473,32.3964497041,33.6166194523,32.5227963526,31.679389313,23.2142857143,35.3448275862,27.0731707317,37.7850162866,26.4,36.6153846154,33.2040717402,31.9672131148,42.039800995,28.6173633441,32.7450980392,34.8416289593,32.7424400417,31.7708333333,28.8461538462,28.9340101523,
2018-05-30 00:00:00,68.75,67.9096045198,65.3355155483,65.045045045,66.4160401003,64.7855530474,65.6115107914,63.9534883721,64.5090909091,62.1134020619,69.5792880259,60.9963547995,66.0377358491,62.763915547,64.0883977901,62.6128385155,64.8264984227,66.1600810537,64.1534391534,65.4320987654,65.2416356877,58.2242990654,65.9978880676,65.6121045392,66.7992047714,
2018-05-31 00:00:00,55.8232931727,68.2008368201,57.939652545,56.25,58.7719298246,50.234741784,60.9675281643,55.0102249489,54.0214477212,48.6363636364,49.8516320475,49.6932515337,62.9411764706,60.396039604,59.2417061611,51.0834485938,55.3459119497,60.4887983707,57.6923076923,60.6837606838,45.7800511509,47.8328173375,59.7806215722,54.5189504373,61.2244897959,
2018-06-01 00:00:00,37.5,26.402640264,21.1394302849,17.8743961353,22.3880597015,22.2826086957,21.2121212121,17.027027027,19.9040767386,24.6666666667,19.0697674419,19.0031152648,18.8741721854,23.6559139785,27.6923076923,20.8623087622,16.3551401869,23.7288135593,24.4725738397,22.3382045929,25.2577319588,16.5611814346,24.9275362319,24.0566037736,26.4462809917,
2018-06-02 00:00:00,56.2992125984,65.4658385093,67.9811012175,69.0217391304,68.2779456193,64.1493775934,64.4748078565,59.0977443609,68.8612099644,69.8630136986,67.7419354839,67.6240208877,68.2414698163,69.5945945946,69.3959731544,62.5520523498,63.474025974,69.8679471789,73.3333333333,68.4068406841,64.2543859649,56.9951007077,70.0767263427,66.9341894061,71.9178082192,
2018-06-03 00:00:00,72.0,75.5148741419,77.2580370811,75.6435643564,73.6979166667,72.4587315378,74.4069912609,75.1545117429,74.8960931006,74.4927536232,78.3489096573,74.8684210526,81.7073170732,83.2653061224,78.5034013605,70.780230028,78.9830508475,82.0540540541,82.1385176185,77.5020016013,78.1914893617,70.2244389027,74.6212121212,80.2853437095,80.7106598985,
2018-06-04 00:00:00,38.5964912281,45.2887537994,41.1131898971,39.1891891892,43.2432432432,32.0182094082,45.4354669465,39.4265232975,45.358649789,40.5594405594,32.1888412017,33.5347432024,40.7407407407,47.5308641975,38.6363636364,39.2254840725,37.1727748691,45.045045045,39.4927536232,43.665158371,31.0734463277,28.3743842365,39.2282958199,41.3654618474,45.3237410072,
2018-06-05 00:00:00,25.7142857143,19.3181818182,17.9144385027,9.09090909091,21.0526315789,23.9726027397,26.5734265734,17.4418604651,23.7804878049,25.7142857143,19.5402298851,19.6721311475,18.018018018,16.6666666667,15.9090909091,21.00456621,21.6666666667,19.387755102,26.3736263736,18.0722891566,11.4754098361,17.004048583,25.0,14.4578313253,22.4137931034,

In [44]:
min(df.just_date)

datetime.date(2018, 5, 14)

In [64]:
_states

[u'Alabama',
 u'Arizona',
 u'California',
 u'Colorado',
 u'Connecticut',
 u'District of Columbia',
 u'Florida',
 u'Georgia',
 u'Illinois',
 u'Indiana',
 u'Maryland',
 u'Massachusetts',
 u'Michigan',
 u'Minnesota',
 u'New Jersey',
 u'New York',
 u'North Carolina',
 u'Ohio',
 u'Oregon',
 u'Pennsylvania',
 u'Tennessee',
 u'Texas',
 u'Virginia',
 u'Washington',
 u'Wisconsin']

In [48]:
pd.to_datetime("2018-05-14") + timedelta(0)

Timestamp('2018-05-14 00:00:00')

In [77]:
indian_states = pd.DataFrame({'counts' : df[df.country == "India"].groupby( [ "state"] ).size()}).reset_index().state

In [79]:
counts=0
#_states = []
for state in indian_states:
    gp = pd.DataFrame({'counts' : df[df.state == state].groupby( [ "just_date"] ).size()}).reset_index().sort_values(["counts"])
    if gp[gp.counts > 100].shape[0] >= 22:
        print state, gp.shape[0]
        counts=counts+1
print counts

Andhra Pradesh 23
Delhi 23
Karnataka 23
Madhya Pradesh 23
Maharashtra 23
Tamil Nadu 23
West Bengal 23
7

In [80]:
gp

     just_date  counts
22  2018-06-05      25
18  2018-06-01     136
3   2018-05-17     156
15  2018-05-29     158
1   2018-05-15     159
14  2018-05-28     159
13  2018-05-27     177
11  2018-05-25     179
19  2018-06-02     186
21  2018-06-04     188
4   2018-05-18     196
0   2018-05-14     199
2   2018-05-16     204
20  2018-06-03     222
5   2018-05-19     236
16  2018-05-30     247
7   2018-05-21     249
8   2018-05-22     252
10  2018-05-24     253
12  2018-05-26     253
17  2018-05-31     254
6   2018-05-20     292
9   2018-05-23     481

In [86]:
counts=0
for country in df.country.unique():
    gp = pd.DataFrame({'counts' : df[df.country == country].groupby( [ "just_date"] ).size()}).reset_index().sort_values(["counts"])
    if gp[gp.counts > 150].shape[0] >= 22:
        print country, gp.shape[0]
        counts=counts+1
print counts

United States 23
India 23
Canada 23
United Kingdom 23
Germany 23
Ireland 23
Australia 23
Malaysia 23
France 23
9