In [3]:
import pandas as pd
import folium
import pycountry
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import os

### Number of tweets = 4852622
### Tweets with URLS = 4326933 (~90%) (including garbage URLs) 

### Unique URLs = 359920
### Parsable unique URLs = 304115 (~85%)

### Tweets with countires = 2134821
### Tweets with states = 1512012

### Tweets with countries + negative + worry (non not_applicable) =  501106
### Tweet with states + negative + worry =  359475

### Asian states with more than 1000 tweets:
1. Andhra Pradesh
2. Central Singapore
3. Delhi       
4. Karnataka
5. Madhya Pradesh       
6. Maharashtra
7. National Capital Region
8. Punjab
9. Rajasthan       
10. Tamil Nadu
11. Tokyo Prefecture
12. West Bengal
13. Wilayah Persekutuan

### Asian Countries with more than 1000 tweets:
1. Australia, 13481
2. Belgium, 1118
3. Canada, 13396
4. Colombia, 2358
5. France, 3776
6. Germany, 2863
7. India, 97448
8. Indonesia, 2172
9. Ireland, 2860
10. Italy, 1379
11. Japan, 3502
12. Malaysia, 7199
13. Netherlands, 1168
14. Norway, 1726
15. Pakistan, 4092
16. Philippines, 5607
17. Singapore, 1571
18. South Africa, 1111
19. Spain, 3252
20. Sweden, 1027
21. Thailand, 1604
22. United Arab Emirates, 1434
23. United Kingdom, 61617
24. United States, 241567