In [21]:
import pandas as pd
import numpy as np
pd.options.display.max_colwidth = 256

In [10]:
annotated_data = pd.read_csv("./urls.csv",delimiter='\t')
gdelt_data = pd.read_csv("./dataAug.csv", delimiter='\t')

In [7]:
annotated_data.head()

   GlobalEventID                                  MentionIdentifier
0      719412511  http://www.straitstimes.com/world/middle-east/...
1      723241330  http://www.straitstimes.com/asia/east-asia/chi...
2      723245734  http://www.straitstimes.com/asia/east-asia/chi...
3      723314088  http://www.straitstimes.com/asia/east-asia/chi...
4      723234988  http://www.straitstimes.com/asia/east-asia/chi...

In [11]:
gdelt_data.head()

   GlobalEventID                                  MentionIdentifier
0      719412511  https://kaplanherald.com/2018/01/02/us-vetoes-...
1      719412511  http://beta.latimes.com/world/middleeast/la-fg...
2      719412511  https://www.salon.com/2018/01/03/americas-impe...
3      719412511  http://www.deccanherald.com/content/651598/ind...
4      719412511  http://www.straitstimes.com/world/middle-east/...

In [23]:
gdelt_data[gdelt_data.GlobalEventID == 723241330].MentionIdentifier

5                                    http://www.theday.com/op-edguest-opinions/20180117/time-to-put-kim-jong-un-back-on-his-heels
6                              http://www.straitstimes.com/asia/east-asia/chinas-metoo-movement-signals-shift-in-gender-attitudes
7    http://winnipegsun.com/opinion/columnists/cruz-time-to-put-kim-jong-un-on-his-heels/wcm/7c1a7e4b-9ac5-49c2-8392-259df43a496d
Name: MentionIdentifier, dtype: object